{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-6 text-center text-gray-800">Регистрация</h1>

<form action="{{ url_for('register') }}" method="post" class="space-y-4">
    <div>
        <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Имя Пользователя:</label>
        <input type="text" id="username" name="username" required
               placeholder="Придумайте имя пользователя"
               class="p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 w-full">
    </div>

    <div>
        <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Пароль:</label>
        <input type="password" id="password" name="password" required
               placeholder="Придумайте пароль"
               class="p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 w-full">
    </div>

    <button type="submit"
            class="w-full bg-blue-600 text-white p-3 rounded-md hover:bg-blue-700 transition duration-200">
        Зарегистрироваться
    </button>
</form>

<p class="mt-6 text-center text-gray-600">
    Уже есть аккаунт? <a href="{{ url_for('login') }}" class="text-blue-600 hover:underline">Войти</a>
</p>
{% endblock %}
